.button-edit {
  border: .0625rem solid #555;
  padding: 0;
  width: 1.125em;
  height: 1.125em;
  display: inline-block;
  vertical-align: middle;
  background: #ccc;
  box-shadow: inset 0em 0.2em 0.25em #fefefe;
  border-radius: .250em;
  position: relative;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
  cursor: pointer;
}

.button-edit:before {
  content: "";
  height: .0625em;
  width: 1em;
  display: block;
  background-color: #555;
  border: .0625rem solid #555;
  position: absolute;
  left: 70%;
  top: 30%;
  transform: translate(-50%, -50%) rotate(-45deg);
  transition: transform 200ms ease-in-out;
  border-radius: 100% 0 0 100%;
}

.button-edit:hover,
.button-edit:active {
  background-color: #fff;
}

.button-edit:hover:before {
  transform: translate(-50%, -50%) scaleY(1.2) rotate(-45deg);
}
