:root {
  --base-font-size: 1rem;
  --primary: #0e4272;
  --header-bg: #0e4272;
  --body-bg: var(--header-bg);
  --light-text: #bfd3e6;
  --dark-text: var(--primary);

  /* typography */
  --font-family: sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  color: var(--dark-text);
}

.hr-spacer {
  height: .625em;
  display: block;
}

.vr-spacer {
  width: .625em;
  display: inline-block;
}

* {
  box-sizing: border-box;
}

button {
  border: .0625rem solid #555;
  display: inline-block;
  vertical-align: middle;
  background: #ccc;
  box-shadow: inset 0em 0.2em 0.25em #fefefe;
  border-radius: .250em;
  transition: background-color 200ms ease-in-out, transform 200ms ease-in-out;
  cursor: pointer;
}

button:hover,
button:active {
  background-color: #fff;
}
