:root {
  --base-font-size: 1rem;
  --primary: #0e4272;
  --header-bg: #0e4272;
  --body-bg: var(--header-bg);
  --light-text: #bfd3e6;
  --dark-text: var(--primary);

  /* typography */
  --font-family: sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: var(--base-font-size);
  color: var(--dark-text);
}

.hr-spacer {
  height: .625em;
  display: block;
}

.vr-spacer {
  width: .625em;
  display: inline-block;
}

